# More Data Wrangling 4

In this notebook I demonstrate how to take data saved on two separate csv files and combine it column-wise into a single pandas dataframe object.

In [1]:
import pandas as pd

import numpy as np

In [2]:
# Build a data frame from multiple files column wise. 

# Reading in a data frame split over two csv files. This is the first:

pd.read_csv('books_attend1.csv').head()

   books  attend
0      0       9
1      1      15
2      0      10
3      2      16
4      4      10

In [3]:
# This is the second:

pd.read_csv('books_attend2.csv').head()

   grade
0     45
1     57
2     45
3     51
4     65

In [4]:
# To combine these column-wise we can use the built in glob module:

from glob import glob

In [5]:
# Creating an object that lists all files that start with books_attend*

books_files = sorted(glob('books_attend*.csv'))

books_files

['books_attend1.csv', 'books_attend2.csv']

In [6]:
# We tell the concat functions to concatenate along the columns axis:

pd.concat((pd.read_csv(file) for file in books_files), axis = 'columns').head()

   books  attend  grade
0      0       9     45
1      1      15     57
2      0      10     45
3      2      16     51
4      4      10     65